.iphone-device {
  position: relative;
  background-image: url(../img/iphone.png);
  background-position: center center;
  background-size: 740px 740px;
  height: 740px;
}

.iphone-screen {
  position: relative;
  top: 162px;
}
