#ui {
  .title-container {
    margin-bottom: 60px;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  .mt-5 {
    margin-top: 0!important;
  }

  .iphone-device {
    position: relative;
    background-image: url(../img/iphone-silver.png);
    background-position: center center;
    background-size: 620px 624px;
    background-repeat: no-repeat;
    height: 740px;
  }

  .iphone-screen {
    position: relative;
    top: 160px;
  }

  .mb-3 {
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 700;
  }
}
